body {
    background-color: violet;
}
h1 {
    color: blue;
    border: 3px solid purple;
     margin: 60px;
}
.text {
    color:blue;
    border:3px solid purple;
    margin :60px;
    text-align:center;
     


}
.box{
    background-color: aliceblue;
    color: red;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: left;
    margin: 60px;
    
}
.text2 {
    color:blue;
    border:3px solid purple;
    margin :60px;
    text-align:center;
    padding: 60px;
    background-color: gray;
    
}
.box2 {
    background-color: aqua;
}