p{
    background-color: red;
    border:2px dashed black
}



.stylTextu1{
    margin: 100px;
    padding: 20px 20px 50px 10px;
    background-color: blue;
}

#skuska{
    background-color: yellow;
}