.Title{
    font-family: fantasy;
        color: darkblue;
}
.Text{
    margin-top: 50px;
    margin-bottom: 10px;
}
.box{
    border: 3px solid black;
    padding: 70px;
    width: 1000px;  
    text-align: left;
    color: red;
    font-size: 30px;
    font-style: normal;
    background-color: white;
    
}
.body{
    background-color: plum;
}
.boxik {
    border : 3px solid black;
    padding : 70px;
    width : 1000px;
    text-align: left;
    color : red;
    font-size: normal;
    background-color: white;
    
}
